
@charset "utf-8";
@import "/CSS/mobile-stylesheet.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-spacing: 0;
}
.main {
    margin: 0 auto;
    padding-top: 10px;
    width: 970px;
}
.g160, .g320, .g480, .g640, .g800, .g960, .g80, .g240, .g400, .g560, .g720, .g880, .g960, .g360, .g220, .g230, .g340 {
    display: inline;
    float: left;
    margin-left: 10px;
}
.g160 {
    width: 150px;
}
.g320 {
    width: 310px;
}
.g480 {
    width: 470px;
}
.g640 {
    width: 630px;
}
.g800 {
    width: 790px;
}
.g960 {
    width: 950px;
}
.g80 {
    width: 70px;
}
.g240 {
    width: 230px;
}
.g400 {
    width: 390px;
}
.g560 {
    width: 550px;
}
.g720 {
    width: 710px;
}
.g880 {
    width: 870px;
}
.g360 {
    width: 350px;
}
.g240 {
    width: 230px;
}
.g230 {
    width: 220px;
}
.g220 {
    width: 210px;
}
.g340 {
    width: 330px;
}
.ml80 {
    margin-left: 90px;
}
.ml160 {
    margin-left: 170px;
}
.ml240 {
    margin-left: 250px;
}
.ml320 {
    margin-left: 330px;
}
.ml400 {
    margin-left: 410px;
}
.ml480 {
    margin-left: 490px;
}
.ml560 {
    margin-left: 560px;
}
.ml640 {
    margin-left: 650px;
}
.ml720 {
    margin-left: 730px;
}
.ml800 {
    margin-left: 810px;
}
.ml880 {
    margin-left: 890px;
}
.ml960 {
    margin-left: 970px;
}
.inside {
    margin-left: 0;
}
p.grid {
    padding-left: 10px;
}
.clear {
    clear: both;
}
.clearfix, .main {
    display: block;
}
.clearfix:after, .main:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
img {
    font-size: 3px;
}
a img {
    border: medium none;
}
a, a:link {
    outline: medium none;
    text-decoration: none;
}
.hand {
    cursor: pointer;
}
.button {
    font-size: 1em;
    font-weight: bold;
    padding: 2px 10px;
}
.ca1 {
    background: none repeat scroll 0 0 green;
    border: 1px solid #AAAAAA;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 2px 10px;
}
.ca2 {
    background: none repeat scroll 0 0 green;
    color: white;
    font-size: 1em;
    padding: 2px 10px;
}
.ca3 {
    background: none repeat scroll 0 0 green;
    color: white;
    font-size: 1em;
    padding: 2px 10px;
}
.ca4 {
    background: none repeat scroll 0 0 #333333;
    color: white;
    font-size: 1em;
    padding: 2px 10px;
}
.fl {
    float: left;
}
.fr {
    display: inline;
    float: right !important;
    width: auto;
}
.fldi {
    display: inline;
    float: left;
}
.frcb {
    clear: both;
    float: right;
}
.clearNone {
    clear: none !important;
}
.flcb {
    clear: both;
    float: left;
}
.frcr {
    clear: right;
    float: right;
}
.flcl {
    clear: left;
    float: left;
}
.clear {
    border: medium none;
    clear: both;
    height: 0;
    line-height: normal;
    margin: 0;
    padding: 2px 0 0;
}
.block {
    display: block;
    overflow: hidden;
}
.tl {
    text-align: left !important;
}
.tr {
    text-align: right !important;
}
.tc {
    text-align: center !important;
}
.tj {
    text-align: justify;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.u {
    border-bottom: 1px solid;
}
.s {
    text-decoration: line-through;
}
.small {
    font-size: 0.8em;
}
.smallpx {
    font-size: 11px;
}
.normal {
    font-weight: normal;
}
.large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
.big {
    font-size: 2em;
}
.huge {
    font-size: 3em;
}
.c, .center {
    float: none;
    margin: 0 auto;
}
#outer {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 400px;
}
#outer[id] {
    display: table;
    position: static;
}
#middle {
    position: absolute;
    top: 50%;
}
.vmiddle {
    vertical-align: middle;
}
#middle[id] {
    display: table-cell;
    position: static;
    vertical-align: middle;
}
#inner {
    position: relative;
    top: -50%;
}
.ib {
    display: inline;
    float: left;
}
.il {
    clear: left;
    float: left;
    margin: 0.5em 2.5em 0.5em 0;
}
.ir {
    clear: right;
    float: right;
    margin: 0.5em 0 0.5em 2.5em;
}
.ilt {
    clear: left;
    float: left;
    margin: 0 10px 10px 0;
}
.irt {
    clear: right;
    float: right;
    margin: 0 0 10px 10px;
}
.frame1 {
    background-color: #FAFAFA;
    border: 1px solid #EEEEEE;
    padding: 10px;
}
.frame2 {
    background-color: #777777;
    border: 1px solid #EEEEEE;
    margin: 5px;
    padding: 5px;
}
.load {
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}
.nooutline {
    outline: 0 none;
}
.noindent {
    margin-left: 0;
    padding-left: 0;
}
.nobullet {
    list-style: none outside none;
}
.top {
    margin-top: 0;
    padding-top: 0;
}
.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
.left {
    margin-left: 0;
    padding-left: 0;
}
.right {
    margin-right: 0;
    padding-right: 0;
}
.show {
    display: block;
    visibility: visible;
}
.hide {
    display: none !important;
}
.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
.di {
    display: inline !important;
}
.db {
    display: block;
}
.dn {
    display: none;
}
.cbl {
    bottom: 5px;
    left: 5px;
    position: absolute;
}
.cbr {
    bottom: 5px;
    position: absolute;
    right: 5px;
}
.ctl {
    left: 5px;
    position: absolute;
    top: 5px;
}
.ctr {
    position: absolute;
    right: 5px;
    top: 5px;
}
.alert {
    background: none repeat scroll 0 0 #FFEEEE;
    border: 1px solid #FF9999;
    color: #800000;
    margin: 2px 0;
    padding: 1px;
    text-align: center;
}
.atention {
    background: none repeat scroll 0 0 #FFF5C1;
    border: 1px solid #F49F00;
    color: #E46D01;
    margin: 2px 0;
    padding: 1px;
    text-align: center;
}
.success {
    background: none repeat scroll 0 0 #EEFFEE;
    border: 1px solid #99FF99;
    color: #008000;
    margin: 2px 0;
    padding: 1px;
    text-align: center;
}
.notice {
    background: none repeat scroll 0 0 #EEEEFF;
    border: 1px solid #9999FF;
    color: #0000FF;
    margin: 2px 0;
    padding: 1px;
    text-align: center;
}
.highlight {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid #EECE6F;
    color: #333333;
    margin: 2px 0;
    padding: 1px;
    text-align: center;
}
.mandatory {
    color: #FF0000;
}
.free {
    color: #009900;
}
.quiet {
    color: #999999;
}
.blur {
    color: #555555;
    opacity: 0.7;
}
.vertical {
    height: 50px;
    line-height: 50px;
}
.m0 {
    margin: 0;
}
.m1 {
    margin: 1px;
}
.m2 {
    margin: 2px;
}
.m3 {
    margin: 3px;
}
.m4 {
    margin: 4px;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.p1 {
    padding: 1px;
}
.p2 {
    padding: 2px;
}
.p3 {
    padding: 3px;
}
.p5 {
    padding: 5px !important;
}
.p7 {
    padding: 7px;
}
.p10 {
    padding: 10px;
}
.b1 {
    border: 1px solid #EEEEEE;
}
.b2 {
    border: 2px solid #EEEEEE;
}
.b3 {
    border: 3px solid #EEEEEE;
}
.b4 {
    border: 4px solid #EEEEEE;
}
.b5 {
    border: 5px solid #EEEEEE;
}
.b10 {
    border: 10px solid #EEEEEE;
}
.w5 {
    width: 5%;
}
.w10 {
    width: 10%;
}
.w15 {
    width: 15%;
}
.w20 {
    width: 20%;
}
.w25 {
    width: 25%;
}
.w33 {
    width: 33%;
}
.w34 {
    width: 34%;
}
.w35 {
    width: 35%;
}
.w40 {
    width: 40%;
}
.w45 {
    width: 45%;
}
.w50 {
    width: 50%;
}
.w55 {
    width: 55%;
}
.w60 {
    width: 60%;
}
.w65 {
    width: 65%;
}
.w66 {
    width: 66%;
}
.w70 {
    width: 70%;
}
.w75 {
    width: 75%;
}
.w80 {
    width: 80%;
}
.w85 {
    width: 85%;
}
.w90 {
    width: 90%;
}
.w95 {
    width: 95%;
}
.w96 {
    width: 96%;
}
.w100 {
    width: 100% !important;
}
.h20 {
    height: 20px;
}
.h30 {
    height: 30px;
}
.h50 {
    height: 50px;
}
.h100 {
    height: 100px;
}
.h150 {
    height: 150px;
}
.h200 {
    height: 200px;
}
.h250 {
    height: 250px;
}
.h300 {
    height: 300px;
}
.c2 {
    border-radius: 2px 2px 2px 2px;
}
.c3 {
    border-radius: 3px 3px 3px 3px;
}
.c4 {
    border-radius: 4px 4px 4px 4px;
}
.c5 {
    border-radius: 5px 5px 5px 5px;
}
.c10 {
    border-radius: 10px 10px 10px 10px;
}
.c20 {
    border-radius: 20px 20px 20px 20px;
}
.first {
    margin-left: 0;
}
.last {
    margin-right: 0;
}
.odd {
    background-color: #FAFAFA;
}
.even {
    background-color: #F1F1F1;
}
ul.inline li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.nobullets {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.bullets li {
    list-style: disc outside none !important;
}
.round3 {
    border-radius: 3px 3px 3px 3px;
}
.round5 {
    border-radius: 5px 5px 5px 5px;
}
.round10 {
    border-radius: 10px 10px 10px 10px;
}
.round15 {
    border-radius: 15px 15px 15px 15px;
}
.round20 {
    border-radius: 20px 20px 20px 20px;
}
.round25 {
    border-radius: 25px 25px 25px 25px;
}
.opacity5 {
    opacity: 0.05;
}
.opacity10 {
    opacity: 0.1;
}
.opacity25 {
    opacity: 0.25;
}
.opacity50 {
    opacity: 0.5;
}
.opacity75 {
    opacity: 0.75;
}
.opacity100 {
    opacity: 1;
}
.shadow1 {
    text-shadow: 1px 1px 1px #666666;
}
.shadow2 {
    text-shadow: 1px 1px 1px #FFFFFF;
}
.boxshadow1 {
    box-shadow: 3px 3px 4px #000000;
}
.p0 {
    padding: 0 !important;
}
.mp1 {
    margin: 1%;
}
.mp2 {
    margin: 2%;
}
.mp3 {
    margin: 3%;
}
.mp4 {
    margin: 4%;
}
.mp5 {
    margin: 5%;
}
.mp6 {
    margin: 6%;
}
.mp7 {
    margin: 7%;
}
.mp8 {
    margin: 8%;
}
.mp9 {
    margin: 9%;
}
.mp10 {
    margin: 10%;
}
.mrp2 {
    margin-right: 2%;
}
.mrp4 {
    margin-right: 4%;
}
.mrp5 {
    margin-right: 5%;
}
.mrp6 {
    margin-right: 6%;
}
.mrp8 {
    margin-right: 8%;
}
.mrp10 {
    margin-right: 10%;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mlp2 {
    margin-left: 2%;
}
.mlp4 {
    margin-left: 4%;
}
.mlp6 {
    margin-left: 6%;
}
.mlp8 {
    margin-left: 8%;
}
.mlp10 {
    margin-left: 10%;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml25 {
    margin-left: 25px;
}
.ml30 {
    margin-left: 30px !important;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px;
}
.pp1 {
    padding: 1%;
}
.pp2 {
    padding: 2%;
}
.pp3 {
    padding: 3%;
}
.pp4 {
    padding: 4%;
}
.pp5 {
    padding: 5%;
}
.pp6 {
    padding: 6%;
}
.pp7 {
    padding: 7%;
}
.pp8 {
    padding: 8%;
}
.pp9 {
    padding: 9%;
}
.pp10 {
    padding: 10%;
}
.overflow, .of, .oh {
    overflow: hidden;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.row {
    display: table-row;
}
.col {
    display: table-cell;
}
table.simpleTable {
    background-color: #EEEEEE;
    border: 1px solid #FFFFFF;
    width: 100%;
}
table.simpleTable thead th {
    background-color: #777777;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}
table.simpleTable td {
    font-size: 12px;
    padding: 10px;
    vertical-align: middle;
}
table.simpleTable tfoot {
    background-color: #EEEEEE;
    font-size: 13px;
    font-weight: bold;
}
table.simpleTable tfoot td {
    border-top: 2px solid #777777;
}
table.simpleTable td.border {
    border: 1px solid #CCCCCC;
}
table.simpleTable td.bgView {
    background-color: #F9F9F9;
}
table.simpleTable .bold {
    font-weight: bold;
}
table.simpleTable tbody tr:hover {
    background-color: #FCF8D8;
    color: #555555;
}
table.simpleTable tbody td:hover {
    background-color: #F9F1AE;
}
.ilp {
    clear: left;
    display: table-cell;
    float: left;
}
.irp {
    clear: right;
    display: table-cell;
    float: right;
}
div.pp {
    display: table-cell;
}
div.cc {
    display: table-row;
}
div.col {
    display: table-cell;
}
.relative {
    position: relative;
}
.inline {
    display: inline;
}
div.hr {
    background-color: #EEEEEE !important;
    clear: both;
    height: 1px;
    margin: 20px 0;
    overflow: hidden;
}
.red {
    color: red !important;
}
.grey {
    color: #AAAAAA !important;
}
body {
    font-size: 75%;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: "Trebuchet MS",Helvetica,Tahoma,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0.5em;
    padding-left: 10px;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h3 {
    color: #333333;
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 0.5em;
}
h5 {
    font-size: 1em;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
}
p {
    line-height: 1.7em;
    margin: 0 0 0.5em;
}
ul, ol {
    margin: 0 1.5em 1.5em;
}
ul {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
dl {
    margin: 0 0 1.5em;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 1.5em;
}
abbr, acronym {
    border-bottom: 1px dotted #000000;
}
address {
    font-style: italic;
    margin-top: 1.5em;
}
del {
    color: #000000;
}
blockquote {
    font-family: baskerville,"palatino linotype",serif;
    padding: 1em 1em 1em 1.5em;
}
blockquote > *:first-child:before {
    color: #AAAAAA;
    content: "“";
    font-family: georgia,serif;
    font-size: 3.5em;
    line-height: 0;
    margin-left: -0.62em;
    padding-right: 0.2em;
}
strong {
    font-weight: bold;
}
em, dfn {
    font-style: italic;
}
dfn {
    font-weight: bold;
}
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt {
    font: 1em/1.5 monospace;
}
tt {
    display: block;
    line-height: 1.5;
    margin: 1.5em 0;
}
hr {
    margin-bottom: 1.5em;
}
table {
    margin-bottom: 1.4em;
}
th {
    border-bottom: 2px solid #DDDDDD;
    font-weight: bold;
}
td {
    border-bottom: 1px solid #DDDDDD;
}
th, td {
    padding: 4px 10px;
}
tfoot {
    font-style: italic;
}
caption {
    background: none repeat scroll 0 0 #FFFFCC;
    padding: 5px;
}
.formContainer {
    background-color: #EFEFEF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 70%;
    height: 1%;
    line-height: 120%;
    overflow: hidden;
    padding: 10px;
}
form {
    margin: 0;
    padding: 0;
}
form li {
    float: left;
    width: 100%;
}
form ul {
    height: 1%;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
form fieldset {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #F0F0F0;
    display: block;
    margin-bottom: 10px;
}
form legend {
    background: inherit;
    border: 1px solid #F0F0F0;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}
form h2 {
    font-size: 18px;
}
form ul li ul {
    background-color: #F8F3B8;
}
form em {
    color: #FF0000;
}
input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    color: #555555;
    padding: 2px;
}
input[type="checkbox"] {
    margin: 0 5px 0 0;
    width: 20px;
}
input[type="submit"] {
    background: none repeat scroll 0 0 orange;
    border: 1px solid #FFFFFF;
    clear: both;
    color: #FFFFFF;
    float: right !important;
    font-family: Arial Black;
    font-weight: bold;
    padding: 2px 15px;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background: none repeat scroll 0 0 #555555;
    color: #FFFFFF;
    cursor: pointer;
}
textarea {
    height: 100px;
}
option {
    background-color: #FFFFCC;
    border: medium none;
}
input:hover, textarea:hover, select:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
input:focus, textarea:focus, select:focus {
    background: none repeat scroll 0 0 #FFFFCC;
    color: #111111;
}
.form {
    list-style: none outside none;
    margin: 0;
    padding: 10px;
}
.form ul {
    height: 1%;
    overflow: hidden;
    padding: 2px 5px 5px;
}
.form label {
    display: inline;
    float: left;
    padding: 3px 5px 3px 0;
    width: 120px;
}
.form li {
    margin: 3px 0 0;
    padding-bottom: 3px;
}
.form li ul li {
    border-bottom: 0 solid #FF0000;
}
.form input {
    display: inline;
    float: left;
    line-height: 100%;
}
.form select {
    display: inline;
    float: left;
}
.form textarea {
    display: inline;
    float: left;
}
.form input[type="radio"] {
    border: 0 none;
}
.form input[type="checkbox"] {
    border: 0 none;
}
.vvv li {
    clear: both;
    display: block;
    width: 100%;
}
.vvv label {
    clear: both;
    display: block;
    float: none;
    width: 100%;
}
.vvv input {
    display: block;
    float: left;
}
.vvv select {
    display: block;
    float: left;
}
.vvv textarea {
    display: block;
    float: left;
}
.hvv {
    height: 1%;
    overflow: hidden;
}
.hvv li {
    clear: none;
    display: inline;
    float: left;
    margin-right: 10px;
    width: auto;
}
.hvv label {
    display: block;
    float: none;
    width: auto;
}
.hvv input {
    display: block;
}
.hvv select {
    display: block;
}
.hvv textarea {
    display: block;
}
.hii {
    height: 1%;
    overflow: hidden;
}
.hii li {
    border-bottom: 0 none;
    display: inline;
    float: left;
    margin-right: 10px;
    width: auto;
}
.hii label {
    display: inline;
    text-align: left;
    vertical-align: middle;
    width: auto;
}
.hii input {
    display: inline;
    vertical-align: middle;
}
.hii select {
    display: inline;
    vertical-align: middle;
}
.hii textarea {
    display: inline;
    vertical-align: middle;
}
.hii li li {
    clear: both;
}
.hhh {
    height: 1%;
    overflow: hidden;
}
.hhh li {
    border-bottom: 0 none;
    display: inline;
    float: left;
    margin: 3px 0 0;
    width: 100%;
}
.hhh label {
    float: left;
    width: 100px;
}
.hhh input {
    float: left;
}
.hhh select {
    float: left;
}
.hhh textarea {
    float: left;
}
.hhh li li {
    clear: both;
}
.vii {
    display: inline;
    float: left;
    width: auto;
}
.vii li {
    clear: both;
    display: block;
    float: left;
    width: auto;
}
.vii label {
    display: inline;
    float: none;
    vertical-align: middle;
    width: auto;
}
.vii input {
    display: inline;
    float: none;
    vertical-align: middle;
}
.vii select {
    display: inline;
    float: none;
    vertical-align: middle;
}
.vii textarea {
    display: inline;
    float: none;
    vertical-align: middle;
}
.vhh {
    display: inline;
    float: left;
}
.vhh li {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 3px;
    width: auto;
}
.vhh label {
    display: inline;
    float: left;
    width: 150px;
}
.vhh input {
    display: inline;
    float: left;
}
.vhh select {
    display: inline;
    float: left;
}
.vhh textarea {
    display: inline;
    float: left;
}
label.v {
    display: block;
    float: none;
    padding: 3px;
    text-align: left;
    width: auto;
}
label.h {
    display: inline;
    float: left;
    width: auto;
}
.multiSelect {
    background-color: #FFFFFF;
    border: 0 inset #CCCCCC;
    float: left;
    height: 200px;
    overflow: auto;
    padding: 0;
    width: 200px;
}
.multiSelect .form {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
}
.multiSelect .vhh {
    margin: 0;
    padding: 0;
}
.multiSelect .vhh input {
    float: left;
}
.multiSelect .vhh label {
    clear: none;
    display: block;
    float: none;
    margin-left: 20px;
    width: auto;
}
.multiSelect .vhh li {
    overflow: hidden;
    width: 100%;
}
.multiSelect .vii li {
    width: 100%;
}
.form input.noBorder {
    border: 0 none;
}
.requiredDesignation {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
.required {
    color: #FF0000;
}
.required label:before {
    content: "* ";
}
.requiredDesignation:before {
    content: "* ";
}
.leftNote {
    color: #FF9933;
    float: left;
    padding: 3px 5px 0;
}
.bottomNote {
    clear: both;
    color: #FF9933;
    display: block;
    padding: 0;
}
.tar label {
    text-align: right;
}
.taj label {
    text-align: justify;
}
.fl {
    float: left;
}
.cb {
    clear: both;
}
.w100p {
    width: 100%;
}
.mr20 {
    margin-right: 20px;
}
.ml20 {
    margin-left: 20px;
}
.offset1 {
    margin-left: 130px;
}
.offset2 {
    margin-left: 105px;
}
#sidebar .form {
    padding: 0;
}
#sidebar .form li {
    border: medium none;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #777777;
    font-family: Arial,Helvetica,sans-serif;
}
h1, h2, h3 {
    color: #555555;
}
h1 {
    margin: 15px 0;
}
a {
    color: orange;
    text-decoration: none;
}
li a {
    color: #777777;
}
h4 a {
    color: #777777;
}
h4 a:hover {
    color: orange;
}
a:hover {
    color: #777777;
    text-decoration: none;
}
.w20 {
    width: 200px;
}
.w970 {
    width: 970px;
}
.button {
    background-color: orange;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-family: Tahoma,Verdana,Arial,Tahoma,sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.buttonDark {
    background-color: #777777 !important;
}
.button:hover {
    background-color: #777777;
    color: #FFFFFF;
}
.smallButton {
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 1em;
    padding: 1px 10px;
    text-decoration: none;
}
.lpb:hover {
    background-color: #FFFFFF !important;
    color: #555555;
}
.black {
    background-color: #777777 !important;
    color: #FFFFFF;
}
.black:hover {
    background-color: orange !important;
}
a.button:hover, li.ui-tabs-nav a:hover, #menu a:hover {
    text-decoration: none;
}
.socialBar {
    border: 1px solid #EFEFEF;
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
    padding: 5px;
}
.socialBar .icons {
    margin-top: 3px;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
#top {
    font-size: 11px;
    margin: 0 auto;
    width: 90%;
}
#topLeft, #topRight {
    display: inline;
    float: left;
    height: 30px;
    width: 8px;
}
#topCenter {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5774227/top-center.gif");
    background-repeat: repeat-x;
    display: inline;
    float: left;
    padding: 5px 0 0;
    width: 98.1%;
}
#top img {
    vertical-align: middle;
    width: 13px;
}
#top span a {
    margin-left: 15px;
}
#top select {
    border: 1px solid #FFFFFF;
    border-radius: 0 0 0 0;
    font-size: 12px;
    padding: 0;
}
#wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    padding: 10px;
}
#header {
    overflow: hidden;
}
#headerImages {
    display: block;
    height: 110px;
    margin-top: 15px;
    overflow: hidden;
    padding-right: 5px;
}
#headerLogo {
    float: left;
    padding-left: 10px;
}
#headerLogo h1 {
    border-bottom: 0 none !important;
    color: #CCCCCC;
    font-family: Helvetica;
    font-size: 100px;
    line-height: 115%;
    margin: -15px 0 0;
    padding-left: 0;
}
#headerLogo h1 a {
    color: #CCCCCC;
    text-decoration: none;
}
#headerLogo h2 span {
    color: #E86006;
}
#headerLogo h2 {
    font-size: 16px;
    letter-spacing: 5px;
    margin-left: 4px;
    margin-top: -15px;
    text-align: right;
    text-transform: uppercase;
}
#headerImages a {
    background: url("http://s3.amazonaws.com/xlsuite_production/assets/7947076/ajax-loader.gif") no-repeat scroll 18px 18px #CCCCCC;
    display: inline;
    float: right;
    height: 50px;
    margin: 3px;
    width: 50px;
}
#headerImages a img {
    height: 50px;
    width: 50px;
}
#modalHeaderOverlay {
}
#headerImagesClose {
    display: none;
    position: absolute;
    z-index: 20;
}
#modalHeader {
    border: 10px solid #FFFFFF;
    display: none;
    max-height: 600px;
    position: absolute;
    top: 200px;
    z-index: 12;
}
#modalHeader img {
    width: 500px;
}
a#addImage {
    background-color: #FEFEFE;
    border: 1px solid #DDDDDD;
    border-radius: 50px 50px 50px 50px;
    color: #E65605;
    float: left;
    font-family: Helvetica;
    font-size: 19px;
    font-weight: bold;
    margin: -16px 0 -25px 19%;
    padding: 10px 40px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 0 0 #FFFFFF;
}
ul#testimonials {
    position: absolute;
}
#testimonialForm {
    display: none;
}
#turn_wrapper {
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;
}
#turn_hideme {
    display: block;
    float: left;
    height: 85%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: 1;
}
#turn_object {
    position: relative;
}
#turn_wrapper.right #turn_hideme *, #turn_wrapper.right #turn_object {
    float: right !important;
    z-index: 13;
}
#turn_wrapper.right #turn_hideme {
    float: right !important;
    left: auto;
    right: 0 !important;
}
#turn_wrapper.right #turn_object {
    left: auto !important;
    right: 0 !important;
}
#turn_wrapper.right {
    height: 0;
    position: absolute;
    right: 0 !important;
    top: 0;
    width: 100%;
}
#turn_wrapper.right #turn_object * {
    position: absolute;
    right: 0 !important;
}
#turn_wrapper #turn_object img#turn_fold {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1000;
}
#turn_wrapper .ui-wrapper {
    left: 0 !important;
    top: 0 !important;
}
#turn_wrapper .ui-resizable-handle {
    background: url("#none") repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    height: 100% !important;
    width: 100% !important;
}
a#addImage:hover {
    color: #F86105;
}
.slideshow1 {
    border: 5px solid #FFFFFF;
    display: block;
    float: left;
    height: 210px;
    width: 313px;
    z-index: 0;
}
.slideshow1 img {
    height: 210px;
    width: 313px;
}
#overlay {
    background: url("http://s3.amazonaws.com/xlsuite_production/assets/7759621/liveinkits-banner.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 62px;
    margin-top: -61px;
    position: relative;
    width: 970px;
    z-index: 3;
}
#headerSliderBig {
    background-position: -1014px 0;
    background-repeat: no-repeat;
    float: left;
    height: 92px;
    margin: 0 0 10px 10px;
    padding: 10px;
    position: relative;
    width: 932px;
    z-index: 9;
}
#headerSliderSmall {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5677216/header-small.gif");
    background-repeat: no-repeat;
    color: #555555;
    display: none;
    float: left;
    font-size: 10px;
    margin: 10px 0 10px 10px;
    padding: 1px 10px;
    position: relative;
    width: 932px;
}
#headerSliderSmall p {
    font-size: 12px;
    line-height: 100%;
    margin: 0;
}
a#closeSliderBig, a#openSliderBig {
    bottom: 0;
    height: 12px;
    position: absolute;
    right: 0;
    width: 12px;
}
#header #stats {
    height: 100px;
    margin-bottom: 10px;
}
#header #bigBanner {
    background-color: #99CCFF;
    height: 100px;
    margin-bottom: 10px;
}
#header #logo {
    background-color: #99CCFF;
    height: 100px;
    margin-bottom: 10px;
}
#header #slider {
    background-color: #99CCFF;
    height: 100px;
    margin-bottom: 10px;
}
#header #headerPromo {
    height: 100px;
    margin-bottom: 10px;
}
#bigBanner img {
}
#bigBanner h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#bigBanner {
    background-color: #FFFFFF !important;
}
#logo {
    background-color: #FFFFFF !important;
}
#logo h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    text-transform: uppercase;
}
#logo h2 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 10px;
    margin-bottom: 0;
}
#headerPromo img {
}
#content {
    overflow: hidden;
    position: relative;
}
#sidebar {
    background-color: #FFFFFF;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0 15px 0 0 !important;
    width: 225px;
}
.sidebarBlock {
    border-bottom: 1px dotted #EEEEEE;
    display: inline;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}
.sidebarBlock ul {
    list-style: none outside none;
}
.sidebarBlock ul li {
    line-height: 200%;
    list-style: none outside none;
}
#testimonialSidebar {
    display: inline;
    float: left;
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 190px;
}
#testimonialSidebar ul {
    margin: 0;
    position: absolute;
}
#testimonialSidebar ul li {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    width: 190px;
}
#testimonialSidebar li p {
    font-size: 1.3em;
    font-style: italic;
}
.promoContainer {
    background-color: #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    float: left;
    margin: 20px 0;
    padding: 0 10px 10px;
    width: 200px;
}
.promoContainer a.closePromo, .promoContainer a.openPromo {
    float: right;
    margin: 12px 0 0;
}
.promoContainer h4 {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
}
.promoContent {
    margin-top: 15px;
}
.promoContent a.small {
    color: #FFFFFF;
    margin-top: 5px;
}
#main {
}
#main img {
    max-width: 713px;
}
#footer {
    clear: both;
    text-align: center;
}
#bottom {
    background-color: #FFFFFF;
    font-size: 11px;
    margin: 20px auto;
    overflow: hidden;
    width: 970px;
}
#bottom ul li {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5704830/bullet-footer.gif");
    background-position: -3px -3px;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    margin-bottom: 5px;
    padding: 0 26px 0 11px;
}
#bottom ul li:hover {
    background-position: -3px -19px;
}
#bottom ul {
    border-top: 1px solid #EEEEEE;
    margin: 0 0 20px;
    padding-top: 20px;
}
#bottom p#credit {
    font-size: 11px;
}
#bottom ul a:hover {
    color: #777777;
}
#bottom p {
    color: #AAAAAA;
    font-size: 9px;
    text-align: justify;
}
a#quickSearch {
    left: 46%;
    position: absolute;
    top: 3px;
}
#quickSearchContent {
    background-color: #F6F6F6;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto 10px 11px;
    overflow: hidden;
    padding: 15px 0;
    text-align: left;
    width: 98%;
}
#quickSearchContent ul li {
    float: left;
    font-size: 17px;
    list-style: none outside none;
    text-align: center;
    width: 130px;
}
#loginMenu {
    margin-top: -1px;
    width: 120px;
}
#loginMenu img {
    border: 1px solid;
    float: left;
    margin: 0 0 0 10px;
    width: 22px;
}
a#search {
    left: 50%;
    position: absolute;
    top: 3px;
}
#shareOverlay {
    background: url("http://s3.amazonaws.com/xlsuite_production/assets/7910984/modal-bg.png") repeat scroll 0 0 transparent;
    display: none;
    left: 0;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}
#action {
    position: fixed;
    right: 0;
    top: 340px;
    z-index: 12;
}
#share {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 2px solid #000000;
    height: 480px;
    overflow: hidden;
    padding-top: 100px;
    position: fixed;
    right: 30%;
    text-align: center;
    width: 800px;
    z-index: 1;
}
#shareClose, #listingUnsaveClose, #listingSaveClose {
    position: fixed;
    z-index: 12;
}
a#action {
    background: url("http://s3.amazonaws.com/xlsuite_production/assets/7853704/share-action-button.png") no-repeat scroll 0 0 transparent;
    height: 204px;
    width: 55px;
}
a#action:hover {
    background-position: 0 -204px;
}
#shareLevel1 {
    text-align: center;
    width: 100%;
}
#shareLevel2 {
    margin: 30px auto;
    overflow: hidden;
    width: 252px;
}
#shareLevel3 {
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 252px;
}
#share a {
    display: inline;
    float: left;
}
#shareLevel2 a {
    height: 64px;
    margin: 10px;
    width: 64px;
}
#shareLevel2 a img {
    width: 60px;
}
#shareLevel3 a {
    display: inline !important;
    float: none;
    height: 32px;
    margin: 5px;
    width: 32px;
}
#shareLevel3 a img {
    display: inline !important;
    width: 28px;
}
#friendsEmail {
    display: none;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 700px;
}
#friendsEmail .referral_body {
    width: 344px;
}
ul.domainMenu {
    height: 26px;
    padding: 0;
}
.domainMenu, .domainMenu * {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 15;
}
.domainMenu {
    line-height: 1;
}
.domainMenu ul {
    position: absolute;
    top: -999em;
    width: 100px;
    z-index: 11;
}
.domainMenu ul li {
    width: 100%;
}
.domainMenu li:hover {
    visibility: inherit;
}
.domainMenu li {
    display: inline;
    float: left;
    position: relative;
    width: 100px;
}
.sf-sub-indicator {
    display: none !important;
}
.domainMenu a {
    color: orange;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
}
.domainMenu li:hover ul, .domainMenu li.sfHover ul {
    background-color: #FEFEFE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    left: 0;
    top: 25px;
    z-index: 99;
}
ul.sub ul {
    border-top: 1px solid #EEEEEE;
}
ul.domainMenu li:hover li ul, ul.domainMenu li.sfHover li ul {
    top: -999em;
}
ul.domainMenu li li:hover ul, ul.domainMenu li li.sfHover ul {
    left: 100px;
    top: 0;
}
ul.domainMenu li li:hover li ul, ul.domainMenu li li.sfHover li ul {
    top: -999em;
}
ul.domainMenu li li li:hover ul, ul.domainMenu li li li.sfHover ul {
    left: 100px;
    top: 0;
}
ul.domainMenu a:hover, li li.sfHover a.sf-with-ul {
    color: #555555;
}
ul.domainMenu li li {
    padding: 2px 0;
}
ul.myAccount {
    height: 26px;
    padding: 0;
}
.myAccount, .myAccount * {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.myAccount {
    line-height: 1;
}
.myAccount ul {
    position: absolute;
    top: -999em;
    width: 100px;
}
.myAccount ul li {
    width: 100%;
}
.myAccount li:hover {
    visibility: inherit;
}
.myAccount li {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/7393754/down-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    margin-top: 2px;
    position: relative;
    width: 80px;
}
.myAccount a {
    color: orange;
    display: block;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
}
.myAccount li:hover ul, .myAccount li.sfHover ul {
    background-color: #FEFEFE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    left: 0;
    top: 25px;
    z-index: 99;
}
ul.myAccount li:hover li ul, ul.myAccount li.sfHover li ul {
    top: -999em;
}
ul.myAccount li li:hover ul, ul.myAccount li li.sfHover ul {
    left: 100px;
    top: 0;
}
ul.myAccount li li:hover li ul, ul.myAccount li li.sfHover li ul {
    top: -999em;
}
ul.myAccount li li li:hover ul, ul.myAccount li li li.sfHover ul {
    left: 100px;
    top: 0;
}
ul.myAccount a:hover, li li.sfHover a.sf-with-ul {
    color: #555555;
}
ul.myAccount li li {
    padding: 2px 0;
}
ul.myAccount ul.sub li {
    background-image: none;
}
.ui-tabs-panel {
    border: 1px solid #EEEEEE;
    display: inline;
    float: left;
    margin: -1px 0 1.4em;
    overflow: hidden;
    padding: 10px;
    width: 688px;
    z-index: 5;
}
.ui-tabs-hide {
    left: -10000px;
    position: absolute !important;
    top: -10000px;
}
ul.ui-tabs-nav {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
ul.ui-tabs-nav li {
    background-color: #EFEFEF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 0 0;
    display: inline;
    float: left;
    margin-right: 3px;
    position: relative;
    width: auto;
    z-index: 10;
}
ul.ui-tabs-nav a {
    color: #777777;
    float: left;
    font-size: 12px;
    height: 15px;
    margin: 4px 5px;
}
ul li.ui-tabs-selected {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
ul li.ui-tabs-selected a {
    background-color: #FFFFFF;
}
h3 .ui-tabs-panel {
    border: 0 none;
    float: none;
}
h3 ul.ui-tabs-nav {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 10;
}
h3 ul.ui-tabs-nav li {
    background-color: transparent;
    border: 0 solid #DDDDDD;
    display: inline;
    float: left;
    line-height: 100%;
    margin-right: 0;
    position: relative;
    width: auto;
    z-index: 10;
}
h3 ul.ui-tabs-nav a {
    color: #555555;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 100%;
    margin: 0 5px;
}
h3 ul li.ui-tabs-selected {
    border-bottom: 0 solid #FFFFFF;
}
h3 ul li.ui-tabs-selected a {
    background-color: #FFFFFF;
    text-decoration: underline;
}
.simpleTab {
    border: 0 solid #DDDDDD;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
}
#menu {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 60px;
    position: relative;
    text-align: center;
    z-index: 11;
}
#menu ul.menu {
    padding-left: 0;
}
#menu ul.menu li {
    color: #FFFFFF;
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0 0 0 80px;
    width: 250px;
}
#menu ul.menu li a {
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 30px;
    height: 33px;
    overflow: hidden;
    padding: 15px 25px;
    width: 202px;
}
#menu ul.menu li a:link {
    display: block;
    text-decoration: none;
}
#menu ul.menu li a:visited {
    text-decoration: none;
}
#menu ul.menu li a:hover, #menu li a.menu-hover {
    background-position: 0 -63px;
    display: block;
    position: relative;
    z-index: 110;
}
#menu li a.menu-hover {
    color: #555555 !important;
    padding-bottom: 15px !important;
}
#menu ul.menu li a:active {
    text-decoration: none;
}
#menu ul.menu li#menu-first-item {
    margin-left: 30px !important;
}
#menu-item-top-1, #menu-item-top-2, #menu-item-top-3 {
    background-color: #F4F4F4;
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/8842254/menu-item-top.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    padding-top: 30px;
    position: relative;
    width: 100%;
    z-index: 20;
}
#menu-item-top-1 {
}
#menu-item-top-2 {
    background-position: -912px 0;
}
#menu-item-top-3 {
    background-position: -1824px 0;
}
.menuBottom {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5676639/menu-buttom.gif");
    background-repeat: no-repeat;
    float: left;
    height: 13px;
    width: 100%;
}
#community, #buzz, #live {
    background-position: 0 0;
    background-repeat: no-repeat;
}
#community {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5676994/community-menu.jpg");
}
#buzz {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5676977/buzz-menu.jpg");
}
#live {
    background-image: url("http://s3.amazonaws.com/xlsuite_production/assets/5676989/live-menu.jpg");
}
#communityContent, #liveContent, #buzzContent {
    display: none;
    float: left;
    left: 11px;
    margin: 0 20px;
    padding-top: 0;
    position: absolute;
    top: 62px;
    width: 912px;
    z-index: 11;
}
#buzzPeople {
    margin: 0 20px 0 0;
}
#buzzNews {
    margin: 0 20px 0 0;
}
#buzzEstate {
    margin: 0 20px 0 0;
}
#buzzEstate p, #buzzEstate p, #buzzPeople p {
    margin: 0;
}
#buzzEstate li, #buzzNews li, #buzzPeople li {
    margin-top: 15px;
}
.middleMenuItem {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    margin: 0 30px;
    padding: 0 25px;
}
.menu-drop {
    text-align: left;
}
.menu-drop ul, .menu-drop ul li {
    list-style: none outside none;
}
.menu-drop ul li {
    display: inline;
    float: left;
    margin-bottom: 5px;
    padding-left: 0;
    width: 100%;
}
.menu-drop ul li a {
    color: #F9F9F9;
    float: left;
    font-size: 14px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #FFFFFF;
    vertical-align: middle;
    width: 100%;
}
.menu-drop ul li img {
    margin-right: 10px;
    opacity: 0.6;
    vertical-align: middle;
    width: 32px;
}
.menu-drop ul li p.small {
    float: left;
    width: 100%;
}
.menu-drop ul a span {
    color: #888888;
    float: right;
    font-size: 12px;
    margin-top: 10px;
    width: 63%;
}
.menu-drop ul a:hover span {
    color: #000000;
}
.menu-drop ul a:hover img {
    opacity: 1;
}
.menu-drop ul li a {
    color: orange;
}
.menu-drop ul li a:hover {
    color: #555555;
}
#communityContent h4 img, #liveContent h4 img, #buzzContent h4 img {
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 25px;
}
#communityContent h4, #liveContent h4, #buzzContent h4 {
    font-size: 20px;
}
#tooltips {
    background-color: #777777;
    border: 1px solid #555555;
    color: #FFFFFF;
    display: none;
    font-size: 14px;
    left: 0;
    padding: 3px 5px;
    position: absolute;
    top: 0;
    z-index: 12;
}
p#breadcrumbs {
    background-repeat: no-repeat;
    color: #AAAAAA;
    float: left;
    font-size: 10px;
    line-height: 100%;
    margin: 20px 0 20px 10px;
    padding: 2px 10px;
    position: relative;
    z-index: 9;
}
p#breadcrumbs a {
    color: #AAAAAA;
}
p#breadcrumbs:hover {
    color: #777777;
}
p#breadcrumbs:hover a {
    color: orange;
}
p#breadcrumbs a:hover {
    color: orange;
}
#breadcrumbs a {
    text-transform: capitalize;
}
#sidebar h3 {
    border-bottom: 5px solid #EEEEEE;
    color: #555555;
    line-height: 2;
}
.addToCart input.submit:focus {
    background-color: transparent;
}
#grouponAdContainer {
    margin: 0 auto;
}
div#news, #people, #listingsFP, #comments, #products {
    padding-top: 20px;
}
div#news h4, div#people h4, div#listingsFP h4, div#products h4, div#comments h4 {
    font-size: 1.5em;
}
div#news p {
    color: #999999;
    font-size: 1em;
}
div#news p.clear, div#news p.small, div#news p.b {
    font-size: 10px;
    height: auto;
}
div#news p.small {
    color: #AAAAAA;
}
div#news img.frame1 {
    margin-right: 10px;
}
.homepage ul#idTabs li a {
    font-size: 15px;
    margin: 5px 20px;
}
.homepage h4.price {
    font-size: 18px;
}
.homepage span.ml20 a.tooltip img {
    margin-right: 5px;
    width: 10px;
}
.homepage p {
    font-family: Arial;
}
#content .fpTabs li {
    padding: 4px;
}
#content .fpTabs li a {
    font-size: 15px;
    height: auto;
    margin: 0;
    padding: 3px 26px;
}
.spriteLoad {
    background: url("http://s3.amazonaws.com/xlsuite_production/assets/8861408/icons-sprite.png") no-repeat scroll 0 0 transparent;
}
.sprite-breadcrumbs {
    background-position: 0 0;
    height: 14px;
    width: 932px;
}
.sprite-coins {
    background-position: -957px 0;
    height: 16px;
    width: 16px;
}
.sprite-comments {
    background-position: -978px 0;
    height: 16px;
    width: 16px;
}
.sprite-folder {
    background-position: -999px 0;
    height: 10px;
    width: 10px;
}
.sprite-header-big {
    background-position: -1014px 0;
    height: 112px;
    width: 952px;
}
.sprite-mls-icon {
    background-position: -1971px 0;
    height: 28px;
    width: 32px;
}
.sprite-profile-rank {
    background-position: 0 -117px;
    height: 14px;
    width: 16px;
}
.sprite-start-empty {
    background-position: -21px -117px;
    height: 12px;
    width: 12px;
}
.sprite-start-full {
    background-position: -38px -117px;
    height: 12px;
    width: 12px;
}
.sprite-top-center {
    background-position: -55px -117px;
    height: 30px;
    width: 1px;
}
.sprite-top-left {
    background-position: -61px -117px;
    height: 30px;
    width: 8px;
}
.sprite-top-right {
    background-position: -74px -117px;
    height: 30px;
    width: 8px;
}
.sprite-user-blue {
    background-position: -87px -117px;
    height: 10px;
    width: 10px;
}
.mr2 {
    margin-right: 2px;
}
.ml2 {
    margin-left: 2px;
}
.inlblock {
    display: inline-block;
}
.mt5 {
    margin-top: 5px;
}
ul.menu {
    margin: 0;
    overflow: hidden;
}
